html {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    margin-top: 50px;
}
.move-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.move-options img {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 1px;
    padding: 4px 4px 4px 4px;
    background-color: rgb(244, 244, 244);
    transition-duration: 150ms;
}
.move-options img:hover {
    opacity: 75%;
}
.move-options img:active {
    opacity: 50%;
}
.scoreboard {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.result {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
}
.reset {
    display: flex;
    justify-content: center;
}
.reset button {
    background-color: rgb(244, 244, 244);
    border-radius: 16px;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 1px;
    padding: 6px 12px 6px 12px;
}
.reset button:hover {
    opacity: 75%;
}
.reset button:active {
    opacity: 50%;
}